@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/image_search_1645550290762.jpg);
  backdrop-filter: blur(5px);
}

.container {
  max-width: 1140px;
  margin: auto;
}

.backdrop {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #00000083;
  z-index: -1;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
}
nav a {
  text-decoration: none;
  color: #416E92;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  transition: all 0.5s;
}
nav a:hover {
  color: #ff0000;
}
nav li {
  list-style-type: none;
}
nav .nav__items {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
nav .social__icons {
  display: flex;
  justify-content: space-between;
  width: 10%;
}
nav .social__icons .icon {
  transition: all 0.8s;
  color: #d2d2d2;
  font-size: 1.5rem;
}
nav .social__icons .tg:hover {
  color: #0088cc;
}
nav .social__icons .yt:hover {
  color: #ff0000;
}
nav .social__icons .fb:hover {
  color: #1877f2;
}

.main {
  width: 100%;
  height: 100vh;
  position: relative;
}
.main #img {
  position: relative;
  top: 60px;
  left: 500px;
}
.main .info {
  transition: all 1s;
  position: absolute;
  top: 70%;
  left: 15%;
  transform: translate(-20%, -80%);
}
.main .read {
  border-radius: 30px;
  padding: 10px 25px;
  background-color: #ff0000;
  color: #d2d2d2;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 30px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.main .read:hover {
  background-color: #f2f2f2;
  color: #416E92;
}
.main p:nth-child(1) {
  color: #ff0000;
  font-size: 1.8rem;
  font-family: "Bebas Neue", cursive;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  margin-bottom: 5px;
  position: relative;
  top: 10px;
}
.main .dontknow {
  color: #AFB5B8;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-line-height: 22px;
}
.main h2 {
  font-size: 5rem;
  font-weight: 400;
  font-family: "Bebas Neue", cursive;
  margin-top: 2px;
  text-transform: uppercase;
  color: #fff;
}
.main .right {
  transition: all 0.9s;
  position: absolute;
  left: 85%;
  top: 50%;
  transform: translate(-80%, -50%);
  font-size: 1.1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.main .right h4 {
  color: #f2f2f2;
  margin-top: 20px;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  transition: all 0.5s;
  cursor: pointer;
  line-height: 23px;
}
.main .right a {
  text-decoration: none;
}
.main .right h4:hover {
  color: #ff0000;
}
.main .right p {
  font-size: 0.8rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-top: 5px;
  color: #AFB5B8;
}

.rwdNav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #081224;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  transform: translateY(-100%);
  display: none;
  transition: all 0.8s;
}
.rwdNav li {
  list-style-type: none;
  margin-top: 50px;
}
.rwdNav li a {
  color: #d2d2d2;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.5s;
}
.rwdNav li a:hover {
  color: #ff0000;
}
.rwdNav #remove {
  color: #d2d2d2;
  font-size: 1.5rem;
  position: relative;
  left: 150px;
  cursor: pointer;
}

#openNav {
  display: none;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }

  .social__icons {
    display: none !important;
  }

  .info {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }
  .info h2 {
    line-height: normal !important;
  }

  .right {
    display: none;
  }

  #img {
    display: none !important;
  }

  .nav__items {
    display: none !important;
  }

  #openNav {
    display: inline-block;
  }

  .social__icons1 {
    position: absolute;
    top: 80%;
    left: 65%;
    transform: translate(-80%, -50%);
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
  }
  .social__icons1 .icon {
    transition: all 0.8s;
    color: #d2d2d2;
    font-size: 1.5rem;
  }
  .social__icons1 .tg:hover {
    color: #0088cc;
  }
  .social__icons1 .yt:hover {
    color: #ff0000;
  }
  .social__icons1 .fb:hover {
    color: #1877f2;
  }
}
.showNav {
  transform: translateY(0) !important;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  display: block;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transition: all 0.8s !important;
}

/*# sourceMappingURL=style.css.map */
